.nav-bar {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px rgb(229, 231, 235) solid;

    a {
        font-weight: bold;
        padding-left: 20px;
    }

    a:hover {
        color: red;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        & > span {
            display: flex;
        }
    
        &-content {
            display: none;
            position: absolute;
            right: 0px;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            flex-direction: column;
            
            a {
                padding: 12px; 

                .MuiSvgIcon-root {
                    margin-right: 10px;
                }
            }

            a:hover {
                color: red;
            }
          }
        &:hover .dropdown-content {display: flex;}
    }
}

  
