@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #d4d4d4; 
}

::-webkit-scrollbar-thumb:hover {   
    background: #d4d4d4; 
}

html, body, #root {
    height: 100%;
}
#box {
  min-height: 100%;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover { 
    color: red;
  }
}
.dark {
    background-color: #424242; 
    color: white;
}
#box.dark {
    background-color: #333333;
    color: white;
}
.toggle {
  margin-left: 20px;
  border-radius: 30px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  font-weight: bold;
  justify-content: space-around;
  padding: 3px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  background: linear-gradient(346.78deg, #f7fcfc 0%, #fafcfa 100%);
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1);
  color: #afb3b4;
  font-size: 14px;
  span {
    width: 60px;
    padding: 5px;
    text-align: center;
  }
  .active {
    color: #74726e;
    background-color: white;
    border-radius: 30px;
  }
}

.nav-bar {
    display: flex;
    align-items: flex-end;

    a {
        font-weight: bold;
        padding-right: 20px;
        color: black !important;
    }
    &.dark a {
      color: white !important;
    }

    a:hover {
        color: red !important;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      & > span {
          display: flex;
          cursor: pointer;
          font-weight: bold;
      }
      & > span:hover {
        color: red;
      }
  
      &-content {
          display: none;
          position: absolute;
          min-width: 300px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 999;
          flex-direction: column;
          background-color: white;
          
          a {
              padding: 12px; 
              color: black;
              text-decoration: none;
          }
  
          a:hover {
              color: red;
          }
          &.show {
            display: flex;
          }
      }
      &-content.dark {
        background-color: #333333; 
        color: white;
        a {
          color: white;
        }
        a:hover {
          color: red;
        }
      }
  }
}
.page-content {
  min-height: calc(100vh - 160px);  
}
